<h1><i> download</h1>
    <hr>
<form action="/download" method="GET">
    <label for="user">user</label>
    <input name="user" type="text" />
    <hr>
    <label for="folder">folder</label>
    <input name="folder" type="text" />
    <hr>
    <label for="kind">kind</label>
    <input name="kind" type="text" />
    <hr>
    <label for="num">num</label>
    <input name="num" type="num" />
    <hr>
    <button class="btn">down</button>
    <input type="button" class="btn" onclick=" location.href='/download'" value="DOWNLOAD"/>

</form>