<h1><i> Signup</h1>
    <hr>

<form action="/signup" method="POST" class="signupform">
        <label for="Email">E-MAIL</label>
        <input name="Email" type="Email" required />
        <hr>
        <label for="Password">PASSWORD</label>
        <input name="Password" type="Password" required />
        <hr>
        <label for="DoctorName">NAME</label>
        <input name="DoctorName" type="text" required />
        <hr>
        <label for="Role">Role</label>
        <input name="Role" type="Major" required />
        <hr>
        <label for="AffiliatedHospital">Hospital</label>
        <input name="AffiliatedHospital" type="AffiliatedHospital" required />
        <hr>
        <!-- <label for="adminCode">ADMIN CODE</label>
        <input name="adminCode" type="text"/>
        <hr> -->
        <button class="btn">SIGNUP!</button>
    </form>