<div id="wrap">
    <h1><i> 원격판독SW</h1>
        <hr>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
        <input type="button" class="btn" onclick=" location.href='/download_page'" value="download_page"/>
        <input type="button" class="btn" onclick=" location.href='/list'" value="list"/>
    </div>
</div>