<h1><i> Login</h1>
    <hr>
<form action="/login" method="POST" class="loginform">
    <label for="email">E-MAIL</label>
    <input name="email" type="email" required />
    <hr>
    <label for="password">PASSWORD</label>
    <input name="password" type="password" required />
    <hr>
    <button class="btn">LOGIN!</button>
    <input type="button" class="btn" onclick=" location.href='/login_success'" value="if_login_success"/>
</form>