<h1><i> Login</h1>
    <hr>
<form action="/login" method="POST" class="loginform">
    <label for="Email">EMAIL</label>
    <input name="Email" type="Email" required />
    <hr>
    <label for="Password">PASSWORD</label>
    <input name="Password" type="Password" required />
    <hr>
    <button class="btn">LOGIN!</button>
    <input type="button" class="btn" onclick=" location.href='/login_success'" value="if_login_success"/>

</form>