<h1><i> Signup</h1>
    <hr>

<form action="/signup" method="POST" class="signupform">
        <label for="email">E-MAIL</label>
        <input name="email" type="email" required />
        <hr>
        <label for="password">PASSWORD</label>
        <input name="password" type="password" required />
        <hr>
        <label for="name">NAME</label>
        <input name="name" type="text" required />
        <hr>
        <label for="adminCode">ADMIN CODE</label>
        <input name="adminCode" type="text"/>
        <hr>
        <button class="btn">SIGNUP!</button>
    </form>