<div id="wrap">
    <h1><i> 원격판독SW</h1>
        <hr>
    <div class="user">
        <input type="button" class="btn" onclick=" location.href='/login'" value="LOGIN"/>
        <input type="button" class="btn" onclick=" location.href='/signup'" value="SIGNUP"/>
    </div>
</div>